:root {
  --spice-base: #090f0e !important;
  --spice-mantle: #161d1c !important;
  --spice-crust: #0e1513 !important;
  --spice-main: #0e1513 !important;
  --spice-main-elevated: #1a2120 !important;
  --spice-sidebar: #161d1c !important;
  --spice-player: #161d1c !important;
  --spice-card: #1a2120 !important;
  --spice-shadow: #090f0e !important;
  --spice-selected-row: #252b2a !important;
  --spice-button: #82d5c8 !important;
  --spice-button-active: #b1ccc6 !important;
  --spice-button-disabled: #3f4947 !important;
  --spice-tab-active: #82d5c8 !important;
  --spice-notification: #1a2120 !important;
  --spice-notification-error: #ffb4ab !important;
  --spice-misc: #252b2a !important;
  --spice-text: #dde4e1 !important;
  --spice-subtext: #bec9c6 !important;
  --spice-surface0: #1a2120 !important;
  --spice-surface1: #252b2a !important;
  --spice-surface2: #303635 !important;
  --spice-overlay0: #3f4947 !important;
  --spice-overlay1: #899390 !important;
  --spice-overlay2: #bec9c6 !important;
  --spice-red: #ffb4ab !important;
  --spice-highlight: #252b2a !important;
  --spice-highlight-elevated: #303635 !important;
  --spice-spice-surface1: #252b2a !important;
  --spice-equalizer: none !important;

  --spice-rgb-base: 9, 15, 14 !important;
  --spice-rgb-mantle: 22, 29, 28 !important;
  --spice-rgb-crust: 14, 21, 19 !important;
  --spice-rgb-main: 14, 21, 19 !important;
  --spice-rgb-main-elevated: 26, 33, 32 !important;
  --spice-rgb-sidebar: 22, 29, 28 !important;
  --spice-rgb-player: 22, 29, 28 !important;
  --spice-rgb-card: 26, 33, 32 !important;
  --spice-rgb-shadow: 9, 15, 14 !important;
  --spice-rgb-selected-row: 37, 43, 42 !important;
  --spice-rgb-button: 130, 213, 200 !important;
  --spice-rgb-button-active: 177, 204, 198 !important;
  --spice-rgb-button-disabled: 63, 73, 71 !important;
  --spice-rgb-tab-active: 130, 213, 200 !important;
  --spice-rgb-notification: 26, 33, 32 !important;
  --spice-rgb-notification-error: 255, 180, 171 !important;
  --spice-rgb-misc: 37, 43, 42 !important;
  --spice-rgb-text: 221, 228, 225 !important;
  --spice-rgb-subtext: 190, 201, 198 !important;
  --spice-rgb-sidebar-text: 190, 201, 198 !important;
  --spice-rgb-surface0: 26, 33, 32 !important;
  --spice-rgb-surface1: 37, 43, 42 !important;
  --spice-rgb-surface2: 48, 54, 53 !important;
  --spice-rgb-overlay0: 63, 73, 71 !important;
  --spice-rgb-overlay1: 137, 147, 144 !important;
  --spice-rgb-overlay2: 190, 201, 198 !important;
  --spice-rgb-red: 255, 180, 171 !important;
  --spice-rgb-highlight: 37, 43, 42 !important;
  --spice-rgb-highlight-elevated: 48, 54, 53 !important;
}
